<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is TestPage</title>
</head>
<body>
<h1>This is TestPage</h1>
<p>Cors Example</p>
<a href="http://testcors.in:8200/data">Cors</a>
</body>
</html>
